<table class="center-table">
    <thead>
        <tr>
            <th>Имя узла</th>
            <th>Дата последней статистики</th>
            <th>Версия Client</th>
            <th>Тип устройства</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stat of stats">
            <td>{{stat.deviceName}}</td>
            <td>{{stat.lastUpdateDateTime | date:'short'}}</td>
            <td>{{stat.version}}</td>
            <td>{{stat.operatingSystem}}</td>
        </tr>
    </tbody>
</table>